<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="header__logo">
                    <img src="../../img/logo.svg" alt="Logo">
                    <h2 class="header__logo-text">Гиперион</h2>
                </div>
                <div class="header__buttons">
                    <button class="header__buttons-btn">Главная</button>
                    <button class="header__buttons-btn">Услуги</button>
                    <button class="header__buttons-btn">Контакты</button>
                </div>
            </div>
        </div>
    </header>
    <section class="linked__wrap">
        <div class="container">
            <div class="linked__wrap-links">
                <a href="#" class="linked__wrap-link">Главная страница</a>
                <div class="linked__wrap-border"></div>
                <a href="#" class="linked__wrap-link active">Каталог</a>
            </div>
        </div>
    </section>
    <section class="catalog_card">
        <div class="container">
            <div class="catalog__card-wrapp" id="catalogwrapp">
                <div class="catalog__card-block">
                    <div class="catalog__card-img"></div>
                    <div class="catalog__card-container">
                        <p class="catalog__card-title">Быстровозводимые здания</p>
                        <div class="catalog__card-border"></div>
                        <p class="catalog__card-descr">Разработаем проект производственного, торгового, административного или жилого здания. Применение данной технологии является идеальным способом сокращения сроков строительства и позволяет достичь минимизации расходов при гарантиях качества и соответствиях требованиям СНиП.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <section class="contact">
        <div class="container">
            <div class="contact__block">
                <div class="contact__block-left">
                    <div class="contact__block-title">
                        <h2 class="contact__block-name">Контакты</h2>
                        <div class="contact__block-logo">
                            <img src="../../img/logo.svg" alt="Logo images" class="contact__block-logo">
                            <p class="contact__block-logoname">Гиперион</p>
                        </div>
                    </div>
                    <div class="contact__block-subtitle">
                        <p class="contact__block-descr">Будем рады видеть Вас в нашем офисе</p>
                    </div>
                </div>
                <div class="contact__block-right">
                    <p class="contact__block-subname">Расчитать стоймость</p>
                    <form action="" class="contact__block-form">
                        <label for="" class="contact__block-label">Ваше имя</label>
                        <div class="contact__block-inputdiv">
                            <input type="text" placeholder="Как к вам обращаться" class="contact__block-input">
                        </div>
                        <label for="" class="contact__block-label">Номер телефона</label>
                        <div class="contact__block-inputdiv">
                            <input type="text" placeholder="Телефон для связи" class="contact__block-input inputadd">
                        </div>
                        <label for="" class="contact__block-label">Вид услуги</label>
                        <div class="contact__block-inputdiv">
                            <input type="text" placeholder="Какая услуга" class="contact__block-input inputadd">
                        </div>
                        <button class="contact__block-button">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__block">
                <div class="footer__block-datainfo">
                    <p class="footer__block-title">Наши данные</p>
                    <div class="footer__block-wrap">
                        <div class="footer__block-contact">
                            <img src="../../img/blackglobal.svg" alt="Global icon">
                            <p class="footer__block-info black">420132 г.Казань, Ул.Адоратского 78 офис 36</p>
                        </div>
                        <div class="footer__block-contact">
                            <img src="../../img/blackclock.svg" alt="Clock icon">
                            <p class="footer__block-info black">Время работы</p>
                        </div>
                    </div>
                </div>

                <div class="footer__block-contactinfo">
                    <p class="footer__block-title">Контакты для связи</p>
                    <div class="footer__block-wrap">
                        <div class="footer__block-contact">
                            <img src="../../img/blackphone.svg" alt="Global icon">
                            <p class="footer__block-info blackcontact">+7-919-645-08-99</p>
                        </div>
                        <div class="footer__block-contact">
                            <img src="../../img/blackphone.svg" alt="Clock icon">
                            <p class="footer__block-info blackcontact">+7-996-337-10-91</p>
                        </div>
                        <div class="footer__block-contact">
                            <img src="../../img/blacksms.svg" alt="Clock icon">
                            <p class="footer__block-info blackcontact">Mail@mail.ru</p>
                        </div>
                    </div>
                </div>
                <div class="footer__block-border"></div>
                <div class="footer__block-social">
                    <p class="footer__block-text">Мы в социальных сетях</p>
                    <div class="footer__block-icon">
                        <div class="footer__block-programm">
                            <img src="../../img/whatsapp.svg" alt="WhatsApp icon">
                            <p class="footer__block-subtext">WhatsApp</p>
                        </div>
                        <div class="footer__block-programm">
                            <img src="../../img/telegram.svg" alt="WhatsApp icon">
                            <p class="footer__block-subtext">Telegram</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../js/catalog.js"></script>
    <script src="../../js/root.js"></script>
    <script src="./allproducts.js"></script>

</body>
</html>