<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="header__logo">
                    <img src="../../img/logo.svg" alt="Logo">
                    <h2 class="header__logo-text">Гиперион</h2>
                </div>
                <div class="header__buttons">
                    <button class="header__buttons-btn">Главная</button>
                    <button class="header__buttons-btn">Услуги</button>
                    <button class="header__buttons-btn">Контакты</button>
                </div>
            </div>
        </div>
    </header>
    <section class="linked__wrap">
        <div class="container">
            <div class="linked__wrap-links">
                <a href="#" class="linked__wrap-link">Главная страница</a>
                <div class="linked__wrap-border"></div>
                <a href="#" class="linked__wrap-link active">Каталог</a>
            </div>
        </div>
    </section>
    <section class="catalog_card">
        <div class="container">
            <div class="catalog__card-wrapp" id="catalogwrapp">
                <div class="catalog__card-block">
                    <div class="catalog__card-img"></div>
                    <div class="catalog__card-container">
                        <p class="catalog__card-title">Быстровозводимые здания</p>
                        <div class="catalog__card-border"></div>
                        <p class="catalog__card-descr">Разработаем проект производственного, торгового, административного или жилого здания. Применение данной технологии является идеальным способом сокращения сроков строительства и позволяет достичь минимизации расходов при гарантиях качества и соответствиях требованиям СНиП.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../js/catalog.js"></script>
    <script src="../../js/root.js"></script>
    <script src="./allproducts.js"></script>

</body>
</html>