<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="header__logo">
                    <img src="../../img/logo.svg" alt="Logo">
                    <h2 class="header__logo-text">Гиперион</h2>
                </div>
                <div class="header__buttons">
                    <button class="header__buttons-btn">Главная</button>
                    <button class="header__buttons-btn">Услуги</button>
                    <button class="header__buttons-btn">Контакты</button>
                </div>
            </div>
        </div>
    </header>
    <section class="linked__wrap">
        <div class="container">
            <div class="linked__wrap-links">
                <a href="#" class="linked__wrap-link">Главная страница</a>
                <div class="linked__wrap-border"></div>
                <a href="#" class="linked__wrap-link">Каталог</a>
                <div class="linked__wrap-border"></div>
                <a href="#" class="linked__wrap-link active">Быстровозводимые здания</a>
            </div>
        </div>
    </section>
    <section class="product__page">
        <div class="container">
            <p class="product__page-title">Быстровозводимые здания</p>
            <div class="product__page-blocks">
                <div class="product__page-leftblock">
                    <div class="product__page-slider">
                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff; width: 739px; height: 411px; margin: 0;" class="swiper mySwiper2 slide_page">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <img src="../../img/fullbuild.png" />
                              </div>
                              <div class="swiper-slide">
                                <img src="../../img/fullconstruction.png" />
                              </div>
                              <div class="swiper-slide">
                                <img src="../../img/fullelectron.png" />
                              </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                          </div>
                          <div thumbsSlider="" class="swiper mySwiper footer_swiper" style="
                          margin: 0; margin-top: 16px;">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide prev__img">
                                <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                              </div>
                              <div class="swiper-slide prev__img">
                                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                              </div>
                              <div class="swiper-slide prev__img">
                                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="product__page-right">
                    <p class="product__page-subname">Расчитать стоймость</p>
                    <div class="border"></div>
                    <form action="" class="product__page-form">
                        <label for="" class="product__page-label">Ваше имя</label>
                        <div class="product__page-inputdiv">
                            <input type="text" placeholder="Как к вам обращаться" class="product__page-input">
                        </div>
                        <label for="" class="product__page-label">Номер телефона</label>
                        <div class="product__page-inputdiv">
                            <input type="text" placeholder="Телефон для связи" class="product__page-input inputadd">
                        </div>
                        <button class="product__page-button">Отправить</button>
                        <p class="product__page-form_descr">Я даю согласие на сбор и обработку моих персональных данных. <span>Политика конфиденциальности</span></p>
                    </form>
                </div>
            </div>
            <div class="product__page-bottom">
                <p class="product__page-bottom_title">Описание</p>
                <div class="border green"></div>
                <div class="border"></div>
                <div class="product__page-bottom_descr">
                    <p>Разработаем проект производственного, торгового, административного или жилого здания. Применение данной технологии является идеальным способом сокращения сроков строительства и позволяет достичь минимизации расходов при гарантиях качества и соответствиях требованиям СНиП.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__block">
                <div class="footer__block-datainfo">
                    <p class="footer__block-title">Наши данные</p>
                    <div class="footer__block-wrap">
                        <div class="footer__block-contact">
                            <img src="../../img/blackglobal.svg" alt="Global icon">
                            <p class="footer__block-info black">420132 г.Казань, Ул.Адоратского 78 офис 36</p>
                        </div>
                        <div class="footer__block-contact">
                            <img src="../../img/blackclock.svg" alt="Clock icon">
                            <p class="footer__block-info black">Время работы</p>
                        </div>
                    </div>
                </div>

                <div class="footer__block-contactinfo">
                    <p class="footer__block-title">Контакты для связи</p>
                    <div class="footer__block-wrap">
                        <div class="footer__block-contact">
                            <img src="../../img/blackphone.svg" alt="Global icon">
                            <p class="footer__block-info blackcontact">+7-919-645-08-99</p>
                        </div>
                        <div class="footer__block-contact">
                            <img src="../../img/blackphone.svg" alt="Clock icon">
                            <p class="footer__block-info blackcontact">+7-996-337-10-91</p>
                        </div>
                        <div class="footer__block-contact">
                            <img src="../../img/blacksms.svg" alt="Clock icon">
                            <p class="footer__block-info blackcontact">Mail@mail.ru</p>
                        </div>
                    </div>
                </div>
                <div class="footer__block-border"></div>
                <div class="footer__block-social">
                    <p class="footer__block-text">Мы в социальных сетях</p>
                    <div class="footer__block-icon">
                        <div class="footer__block-programm">
                            <img src="../../img/whatsapp.svg" alt="WhatsApp icon">
                            <p class="footer__block-subtext">WhatsApp</p>
                        </div>
                        <div class="footer__block-programm">
                            <img src="../../img/telegram.svg" alt="WhatsApp icon">
                            <p class="footer__block-subtext">Telegram</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../../js/slider.js"></script>
</body>
</html>